body {
    padding-top: 0px;
    padding-bottom: 20px;
}

h2, h3 {
    color: #b94a48;
}

th{
    color: #696969;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table {
    font-size:small;
}

/*.navbar{
    background-color:#f4f7fc;
   
    
}*/



/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}



.input-label {
    color: lightblue;
}
.input-value {
    color: Maroon;
   /*text-decoration: line-through;*/
        /*darkslategray;*/
}

form label
{
    color: gray;
    font-weight:normal;
}

.alert-caption
{
    background-color:whitesmoke;
}

.panel-heading{
    font-weight:bold;
}

.blockquote-warning {
    display: block;
    padding-left: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #f0ad4e;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.tooltip-m {
border-bottom: 1px dotted;
}

.blockquote-bottom {
    display: inline-block;
    border-width: medium;
    border-bottom: 2px solid #f0ad4e;
    margin-bottom: 10px;
}


.title-brand{
    width:60px; 
    height:50px; 
    border: 1px solid silver; 
    border-radius:2px;
}

.input-sm{
    margin-bottom:1px;
}

.countrypanel
{
    background-image:url("\Content\1200px-BlankMap-World-noborders.png")
}

.login-descr{
    background-color:#fafafa;
    border-radius:20px;
    padding:20px;
    border: 1px solid #e0e0e0;
}

.status-default{

}

.status-confirmed{
    color: #428BCA;
}

.status-bordero{
    color:#5CB85C;
}

.status-annul{
    color:firebrick;
}