@model gTravel.Models.Subject

<tr>
    <td>@Html.TextBoxFor(model=>Model.Name1)</td>
    <td>@Html.TextBoxFor(model => Model.Pasport)</td>
    <td>@Html.TextBoxFor(model => Model.DateOfBirth)</td>
</tr>
