

@model IEnumerable<gTravel.Models.ContractAgent>

@{
    int idx = 0;
    
}

@foreach (var item in Model)
{
    @Html.Partial("_addAgentRow", item, new ViewDataDictionary(ViewData) { { "idx", idx } })
    @*<div class="row">

        <div class="col-md-12">
            @Html.Hidden(string.Format("ContractAgents[{0}].ContractAgentId", idx),item.ContractAgentId)
            @Html.Hidden(string.Format("ContractAgents[{0}].ContractId", idx),item.ContractId)

            @droplist(string.Format("ContractAgents[{0}].AgentId", idx),
            (SelectList)ViewBag.agentlist,
            item.AgentId.ToString()
            )

            <a class="agent-dell" id="agent_dell_@item.ContractAgentId" href="#">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>

    </div>*@
    idx++;
}

