@model gTravel.Models.ContractRisk

@Html.TextBox(string.Format("ContractAgents[{0}].Percent", indx), Model.Percent, new { @class = "form-control input-sm" })

<div class="row">
        <div class="col-lg-2">
            Страх. сумма
            @Html.TextBox("ContractRisks[]")
            @*@Html.TextBoxFor(model => Model.Subject.Name1, new { @class = "form-control input-sm" })*@
        </div>
        <div class="col-lg-2">
            Страх. премия
            @Html.TextBoxFor(model => Model.Subject.Name1, new { @class = "form-control input-sm" })
        </div>
    </div>