<tr>
    <td>
        <input type="text" name="insd.Name1" class="form-control input-sm" />
    </td>
    <td>
        <input type="text" name="insd.DateOfBirth" class="form-control input-sm short-date-yy" placeholder="ддммгг" onchange="prepdateyy(this)" />
    </td>
    <td>
        <input type="text" class="form-control input-sm" />
    </td>
    <td><input type="text" name="insd.Pasport" class="form-control input-sm" onkeypress="addnewassured(event)" /></td>

</tr>