<tr>
    <td>
        <input type="text" class="form-control input-sm" />
    </td>
    <td>
        <input type="text" class="form-control input-sm" />
    </td>
    <td>
        <input type="text" class="form-control input-sm" />
    </td>
    <td><input type="text" class="form-control input-sm" onkeypress="addnewassured(event)"/></td>

</tr>