@{
    decimal idx = (decimal)ViewBag.idx;
}



<tr>
    <td>
        @Html.Hidden(string.Format("Subjects[{0}].ContractId", idx), (string)ViewBag.ContractId)

        <input type="text" name="@string.Format("Subjects[{0}].Name1", idx)" class="form-control input-sm" />
    </td>
    <td>
        <input type="text" name="@string.Format("Subjects[{0}].DateOfBirth", idx)" class="form-control input-sm short-date-yy" placeholder="ддммгг" onchange="prepdateyy(this)" />
    </td>
    @*<td>
        <input type="text" class="form-control input-sm" />
    </td>*@
    <td><input type="text" name="@string.Format("Subjects[{0}].Pasport", idx)" class="form-control input-sm" onkeypress="addnewassured(event)" /></td>

</tr>