@{
    
    int idx = (int)ViewBag.idx;

    var RiskProgramId = (SelectList)ViewBag.RiskProgramId;
}

<div id="div-program" style="white-space:nowrap;">
    @if (RiskProgramId.Count() > 1)
    {
        <label class="small risk-label1">Программа</label>
        @Html.DropDownList(string.Format("ContractRisks[{0}].RiskProgramId", idx), RiskProgramId, new { @class = "form-control input-sm input-value" })

    }
    else
    {
        @Html.DropDownList(string.Format("ContractRisks[{0}].RiskProgramId", idx), RiskProgramId, new { style = "display:none;" })

    }

</div>

