@model IEnumerable<gTravel.Models.v_agentseria>

@foreach (var item in Model)
{
    <a href="/Contract/Contract_Create?seriaid=@item.SeriaId"
       class="btn btn-default btn-sm"
       data-toggle="tooltip"
       data-placement="bottom"
       title="Добавить новый договор @item.Name">@item.Code</a>
}

<script type="text/javascript">

    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
