
@{
    ViewBag.Title = "Список договоров";
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>Серия</th>
            <th>Номер</th>
            <th>Дата выдачи</th>
            <th>Период</th>
            <th>Страхователь</th>
            <th>Территория</th>
        </tr>
    </thead>
    <tbody >
        <tr >
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
    </tbody>
</table>
