@model gTravel.Models.v_contract_ag

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />
    <title>Полис страхования, медицина</title>
    </head>

<body>

</body>
</html>
