
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>bordero create</title>
</head>
<body>
    <div> 
        Бордеро создано @DateTime.Now
    </div>
</body>
</html>

