@{
    ViewBag.Title = "В помощь";
}

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img width="150" src="~/Content/scroll.gif" alt="...">
            <div class="caption">
                <h3>Правила страхования</h3>
                <p>



                    @{
                        string ss = "С" + "ТАНДАРТНЫЕ ПРАВИЛА СТРАХОВАНИЯ МЕДИЦИНСКИХ И МЕДИКО-ТРАНСПОРТНЫХ РАСХОДОВ ГРАЖДАН, ПУТЕШЕСТВУЮЩИХ ПО ".ToLower() + "России";
                        @ss
                    }
                    <br />
                    <div class="small">
                        от 29 апреля 2013г
                    </div>
                </p>
                <p><a href="~/Content/Rules_ag.pdf" target="_blank" class="btn btn-primary" role="button">Скачать</a></p>
            </div>
        </div>
    </div>
</div>



