@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Новости</h3>


    <p>
       
    </p>

    <div style="height:300px;" class="well well-lg">

        Скоро будут...
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>T.I.T.</h3>
            <p>
                Центральный офис ООО «Страховkая компания «ТИТ»

                115088, Россия, г .Москва, 2-й Южнопортовый проезд, дом 18, строение 8, 5-й этаж.

                Телефон / факс: +7 (495) 967-86-12

                Электронная почта: info@titins.ru
            </p>
            <p><a class="btn btn-default" href="http://titins.ru">Подробнее &raquo;</a></p>
        </div>


    </div>
</div>
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
